body {
    width: 100%;
    height: 100%;

}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Nav */

*, *:before, *:after {box-sizing:  border-box !important;}


.project-row {
 -moz-column-width: 18em;
 -webkit-column-width: 50em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.right {
float: right;
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.well {
 position:relative;
 display: block;
}

/* START HOME */

.intro-section {
    height: auto;
    padding-top: 150px;
    text-align: center;
    background-color: #e7e4ee;
    background-image: url('img/road-lights-night-summer.jpg');
    background-size: cover;
    background-position: 50% 75%;
    background-attachment: fixed;
    border-bottom: 1px double #fff;

}

.me-img {
	margin: 0 auto;
	text-align: center;
	background: url('img/prof2.png') no-repeat left center;
	margin-top: 15%;
	width: 218px;
    height: 218px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-size: 218px 218px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.me-text {
	color: #fff;
	font-family: 'Catamaran', sans-serif;
	text-shadow: 1px 1px 3px #000;
}

.me-text h4 {
	line-height: 1.5em;
	font-size: 2em;
	font-weight: 400;
	font-family: 'Catamaran', sans-serif;
}

.pretty {
	color: #1bb0ce;
	font-size: 6em;
	line-height: 0.3em;
	font-weight: 300;
	font-family: 'Dancing Script', cursive;
}

.me-text h1 {
	color: #cb2f5c;
	font-size: 7em;
	line-height: 0.8em;
	font-weight: 700;
}

.small-and {
	font-size: 2em;
	color: #fff;
	font-weight: 400;
}
/* END HOME */

/* ABOUT */
#about {
	width: 100%;
	background-color:  #443344;
	padding-top: 40px;
	z-index: -1;
}

.about-header {
	color: #e0e0ea;
	width: 100%;
	height: auto;
	padding: 50px 0 10px 0;
	font-size: 3em;
	font-weight: 600;
	font-family: 'Catamaran', sans-serif;
	text-align: center;
	text-shadow: 0px 0px 2px #6d00ff, 0px 0px 5px #6d00ff;
	line-height: 40px;
}

.about-section {
    height: auto;
    width: 100%;
    padding-top: 0px;

}

.expand-all {
	color: #afafd3;
	font-size: .5em;
	text-shadow: none;
}


.about h3 {
	font-family: 'Catamaran', sans-serif;
}

.about-item {
	background-color: #e0e0ea;
    border: #453C51 1px solid;
    box-shadow: 0 7px 6px -6px #777;
    margin-top: 50px;
    margin-bottom: 100px;
}

.about-item img {
	max-width: 100%;
}

.detailtext {
    font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    padding: 0px 5px 10px 20px;
}

.bargraph {
    list-style: none;
    padding-top: 0;
    width: 90%;
}

ul.bargraph.li {
    list-style: none;
    height: 35px;
    color: white;
    text-align: left;
    font-style: italic;
    font-weight: bolder;
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 5px;
}

ul.bargraph li.html {
    list-style: none;
    background: #0e3755;
    width: 100%;
    color: white;
    padding: 5px;
    position: relative;
    left: -20px;
    margin-bottom: 5px;
}

ul.bargraph li.dreamweaver {
    background: #366771;
    width: 95%;
    color: white;
    padding: 5px;
    position: relative;
    left: -20px;
    margin-bottom: 5px;
}

ul.bargraph li.photoshop {
    background: #6ca593;
    width: 95%;
    color: white;
    padding: 5px;
    position: relative;
    left: -20px;
    margin-bottom: 5px;
}

ul.bargraph li.javascript {
    background: #8ebfa5;
    width: 70%;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    position: relative;
    left: -20px;
}

ul.bargraph li.jquery {
    background: #a1aaa5;
    width: 60%;
    color: white;
    padding: 5px;
    position: relative;
    left: -20px;
    margin-bottom: 5px;
}

ul.bargraph li.php {
    background: #a68c9e;
    width: 40%;
    color: white;
    padding: 5px;
    position: relative;
    left: -20px;
}

#expand {
    font-size: 18px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 20px;
    letter-spacing: 7px;
    text-align: center;
}

/* END ABOUT */

/* PROJECTS */
.projects-section {
	background-color: #9a9ab8;
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.projects-header {
	color: #332233;
	width: 100%;
	height: auto;
	padding: 50px 0 50px 0;
	font-size: 3em;
	font-weight: 600;
	font-family: 'Catamaran', sans-serif;
	text-align: center;
	line-height: 40px;
}

.proj-group {
	width: 100%;
	margin: 0 auto;
}

.project-item {
	background-color: #f5f5f6;
	text-align: center;
	border: 5px solid #332233;
	margin: 20px;
}

.project-item p {
	padding: 0px 10px;
	text-align: left;
	font-size: 16px;
	font-family: 'Catamaran', sans-serif;
}

.project-img img {
	width: 100%;
	border: 3px double #555577;
}

.project-specs {
	background-color: #332233;
	padding: 10px;
	font-size: 18px;
	font-family: 'Catamaran', sans-serif;
}

.project-cat {
	color: #fff;
	font-weight: bold;
}

.project-cat-text {
	color: #f1f1e8;
}

.project-cat-text a {
	color: #c4f5ff;
	text-decoration: underline;
}

/*END PROJECTS */

/*START CONTACT */
.contact-section {
    height: auto;
    padding-top: 50px;
    background-image: url('img/night.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: 20% 0%;

}

.contact-contain {
	width: 120px;
	position: relative;
	float: right;
	padding-top: 80px;
}

.form-control {
	font-size: 18px;
	margin: 5px;
	border: 1px solid #5c46b0;
	opacity: .8;
}

.btn {
	background-color: #564660;

	width: 150px;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Catamaran' sans-serif;
	color: #fff;
}

.btn:hover {
	background-color: #1693ac;

	width: 150px;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Catamaran' sans-serif;
}

.col-center {
  margin:0 auto;
}
.contact-form {
	font-family: 'Catamaran' sans-serif;
}

.contact-init {
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 8px;
	border-radius: 8px;
	margin-left: 5px;
}

.contact-main {
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 8px;
	border-radius: 8px;
	margin-left: 5px;
}

.divider {
	padding: 0;
	margin: 0;
	float: left;
}


.contact-links:hover {
background-image: url('img/li-hover.png');
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.contact-links {
	height: 100px;
	width: 100px;
	position: relative;
	float: right;
	background-size: 100px 100px;
	background-image: url('img/linkedin.png');
	transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

/* END CONTACT */
/*
@media (max-width: 767px) {

 .me-img {
	margin: 0 auto;
	text-align: center;
	background: url('img/prof2.png') no-repeat left center;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 218px;
    height: 218px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-size: 218px 218px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.me-text {
	width: 100%;
	font-family: 'Catamaran', sans-serif;
	text-align: center;
}
*/
@media all and (min-device-width: 1200px) and (max-width: 800px) {
    .app-bar .logo {
        float: none;
        width: 100%;
        line-height: normal;
        text-align: center;
        padding-top: 36px;
    }

    .app-bar-container {
        height: auto;
    }

    .app-bar-actions {
        width: 100%;
    }

    .navdrawer-container {
        padding: 0 16px;
        overflow-y: auto;
    }

    .navdrawer-container li {
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
    }
}
/*
@media all and (min-device-width: 500px) and (max-width: 800px) {
    .app-bar .logo {
        float: none;
        width: 100%;
        line-height: normal;
        text-align: center;
        padding-top: 36px;
    }

    .app-bar-container {
        height: auto;
    }

    .app-bar-actions {
        width: 100%;
    }

    .navdrawer-container {
        padding: 0 16px;
        overflow-y: auto;
    }

    .navdrawer-container li {
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
    }

    .about-header {
    	padding-bottom: 30px;
    }

    .about-item {
    	margin-top: 0px;
    	margin-bottom: 30px;
    }

    .divider {
    	width: 40%;
    	float: right;
    	padding-right: 20px;
    }

    .contact-links {
    	float: left;
    }

    .contact-form {
    	width: 120%;
    }

}
*/
@media (min-width: 768px) and (max-width: 991px) {
    .container {

        width: 100%;
    }

    #about {
        padding-top: 10px;
    }
    .about-item {
        margin-bottom: 50px;
        margin-top: 0px;
    }
    .about-item img {
        max-width: 50%;
        margin-left: 24%;
    }

    .projects-header {
        padding: 20px 0px;
    }





}

@media (max-width: 767px) {
    .intro-section {
        padding-top: 40px;
    }
    #about {
        padding-top: 10px;
    }
    .about-item {
        margin-bottom: 50px;
        margin-top: 0px;
    }
    .projects-header {
        padding: 20px 0px;
    }
    .divider img {
        display: none;
    }

    .divider {
        width: 300px;
        margin: 0 auto;
        float: none;

    }

    .contact-contain {
        margin: 0 auto;
        float: none;
    }

    .contact-links {
        margin: 20px 0px;
    }


}

@media (max-width: 480px) {
    .intro-section {
        padding-top: 50px;
    }

    #about {
        padding-top: 10px;
    }
    .about-item {
        margin-bottom: 50px;
        margin-top: 0px;
    }

    .projects-header {

    width: 100%;
    
    padding: 20px 0px;
    font-size: 2.5em;
    font-weight: 600;

    }

    .divider img {
        display: none;
    }

    .divider {
        width: 100%;
        margin: 0 auto;

    }

    .contact-contain {
        padding: 20px;
    }
}